.info__intro {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
    @include responsive(phone) {
        display: flex;
    }
}

.info {
    position: relative;
    width: 100%;
    max-width: 375px;
    height: 300px;
    &__img {
        width: 100%;
        max-width: 375px;
        height: 300px;
        object-fit: contain;
    }
    .info__one {
        display: inline-block;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        left: 1.6rem;
        top: 45%;
        background-color: $white-color;
        position: absolute;
        background-image: url("../images/svg/Path-2.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .info__two {
        display: inline-block;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        right: 1.6rem;
        top: 45%;
        background-color: $white-color;
        position: absolute;
        background-image: url("../images/svg/Path-1.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}