.burger__link {
    border: none;
    background-color: $site-bg-color;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 0.3rem;
    margin-right: 1.6rem;
    background-color: #fff;
    @include responsive(phone) {
        display: flex;
    }
}
.burger__img {
    width: 2rem;
    height: 2.2rem;
    object-fit: cover;
}

.cards__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    @include responsive(phone) {
        flex-direction: column;
    }
}
.cards__left-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 157px;
    padding: 0;
    background-color:#f6f8fd;
    margin-right: 1.6rem;
    border-radius: 1rem;
    span {
        padding: 2.3rem 2.5rem 1.8rem;
        font-weight: 700;
        line-height: 1.24;
        color: $title-color;
    }
    @include responsive(phone) {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-right: 1.6rem;
        margin-bottom: 1.6rem;
    }
}
.cards__left-buttun {
    padding: 2.9rem 2.7rem 3.1rem 1.6rem;
    border: none;
    background-color: #F6F8FD;
    background-image: url("../images/svg/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem .4rem;
    border-radius: 1rem 0rem 0rem 1rem;
    cursor: pointer;
}

.cards__left-buttun-two {
    width: 52.3px;
    padding: 3rem 1.6rem 3rem 2.3rem;
    background-color: #F6F8FD;
    background-image: url("../images/svg/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13.71px 13.71px;
    border-radius: 0rem 1rem 1rem 0rem;
    cursor: pointer;
    border: none;
}
.cards__right-btn {
    border: none;
    border-radius: 1rem;
    padding: 1.9rem 7.6rem 1.8rem 7.7rem;
    background-color: $primary-color;
    color: $white-color;
    transition: 0.5s ease;
    &:hover {
        background-color: #FFAB6A;
        box-shadow: 0px 20px 50px -20px #FF7E1B;
    }
    @include responsive(phone) {
        width: 100%;
        padding: 1.9rem 7rem 1.8rem 7rem;
    }
}
.cards__right-intro {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.24;
    @include responsive(phone) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        margin-right: 1.6rem;
        display: block;
        width: 17.46px;
        height: 16px;
        background-image: url("../images/svg/sale-fff.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17.46px 16px;
    }
}


.cart__btn {
    border: none;
    background-color: $primary-color;
    padding: 2.2rem 11.9rem 1.8rem 12rem;
    font-size: 1.24;
    color: $white-color;
    border-radius: 1rem;
}
